@import "tailwindcss";

@theme {
    --color-nexo-lime: #bfe023;
    --color-nexo-lime-dark: #9dc60e;
    --color-nexo-gray: #808080;
    --color-nexo-dark: #000000;
    --font-sans: "Outfit", sans-serif;
}

/* --- Estilos Globales --- */
body {
    font-family: 'Outfit', sans-serif;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.glass {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

@keyframes gentle-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(191, 224, 35, 0);
    }

    50% {
        transform: scale(1.03);
        box-shadow: 0 0 20px 0 rgba(191, 224, 35, 0.2);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(191, 224, 35, 0);
    }
}

.hover-pulse:hover {
    animation: gentle-pulse 2s infinite ease-in-out;
}